.main_content {
    background-color: #1C1C1C;
    padding: 25px;
}

.main_caption {
    color: white;
}

/*Footer Content*/
.up_footer {
    background-color: #0282F9;
    padding: 25px;
}

.icon_footer {
    width: 50px;
}

.icons_text {
    color: white;
    padding-left: 10px;
    font-weight: 100;
    font-size: 15px;
}